.AboutBody {
    position:relative;
    display:flex;
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
    overflow: hidden;
}

.AboutMission {
    position: absolute;
    width: 400px;
    top: 5%;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 64%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.AboutImage {
    max-width: 100%;
}