.eventCard {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 65%;
    margin-bottom: 50px;
}

@media all and (max-width: 750px) {
    .eventCard {
        width: 90%;
    }
}

.eventDate {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 15%;
}

.eventDay {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 10%;
}

.eventMonth {
    margin-top: 0;
    color: white;
}

.eventName {
    color: #009647;
    font-size: larger;
}

.rsvpLink {
    padding-right: 5%;
}

.blackLink {
    color: black;
    font-weight: normal;
    font-size: larger;
}

#LandingPageUpcomingEvents {
    padding-top: 2.5%;
    padding-bottom: 5%;
    background-color: green;
}

#upcomingEventsBg {
    margin: auto;
    padding-bottom: 5%;
    width: 97%;
    background-repeat: no-repeat;
    background-size: cover;
}

#upcomingEventsText {
    padding: 2.5%;
    color: black;
}

#Heading {
    /* border: 3px solid green; */
    margin: auto;
    padding-top: 10%;
    /* padding: 20px; */
    position: relative;
    width: 50vw;
    height: 10vh;


    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 32px;
    /* or 64% */
    text-align: center;
    letter-spacing: 0.2px;

    color: #93B769;
}