#footer {
    background-color: #242424;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

@media all and (max-width: 750px) {
    #footer {
        flex-direction: column;
    }
    #contactUsFooter {
        width: 75%;
    }
    #logo-180 {
        width: 75%;
    }
}
@media all and (min-width: 750px) {
    #contactUsFooter {
        width: 15%;
    }
    #logo-180 {
        width: 15%;
    }
}

#logo-180 {
    padding: 2.5%;
    object-fit: scale-down;
}

#centralContainer {
    width: 60%;
}

.footerText {
    color: #4A5557;
}

#contactUsFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
}

#contactUsButton {
    background-color: white;
    color: black;
    border-radius: 0;
    font-size: 1.5rem;
    width: 100%;
}

.socialIcons {
    width: calc(100% / 4);
}