.textBox {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
#titleText {
    position: absolute;
    font-size: 4vw;
    letter-spacing: 0.05rem;
    color: black;
    top: 40%;
    left: 30%;
    transform: translate(-60%, -70%);
}

#desText {
    position: absolute;
    font-size: 18px;
    letter-spacing: 0.05rem;
    color: black;
    top: 57%;
    left: 30%;
    transform: translate(-60%, -50%);
}