#navbar-nav {
    z-index:1;
    width:75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.Nav {
    /* position:absolute; */
    width: 15vw;
    height: 50%;
    left: 10vw;
    /* top: 5vw; */
    /* remove border outline when clicked */
    outline: none;
    :focus, :active, :hover {
        outline: none;
    }


    /* Bold/14px */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color:black;
    opacity: 1;
    /* or 129% */
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.3px;
    text-align: center;
    background-color: white;
}

.LogoHeader {
    display: flex;
    /* flex-direction: row; */
    align-items:center;
    justify-content:flex-start;
    align-items: center;
    
    /* background-color: #eeeeee; */
    background-color: white;
    max-width: 100vw;
    /* Adjust padding as needed */
}

.Logo {
    /* background-color: #160F0F; */
    position:relative;
    max-height: 5vw;
    max-width: 100vw;
    /* z-index: 1; */
}